---
import { getI18N } from "@i18n/index";

const currentLocale = Astro.currentLocale;
const i18n = getI18N({ currentLocale });

const { home } = i18n;
---

<article class="flex flex-col gap-2 self-center">
  <p class="text-center leading-7 text-xl">
    <span class="uppercase text-white font-semibold dark:text-sky-100">
      {home.subtitle2}
    </span>
    <span class="text-amber-400">
      {home.contentSubtitle2}
    </span>
  </p>
  <p class="text-center leading-7 text-xl">
    <span class="uppercase text-white font-semibold dark:text-sky-100">
      {home.subtitle1}
    </span>
    <span class="text-amber-400">
      {home.contentSubtitle1},
    </span>
  </p>

  <picture>
    <source srcset="/dialmonsalve.webp" type="image/webp" />
    <img
      src="/dialmonsalve.png"
      alt="dialmonsalve"
      class="rounded-full block mx-auto mt-8 lg:mt-10"
    />
  </picture>
  <h1
    class="text-amber-400 text-center leading-11 text-2xl lg:text-5xl"
  >
    {home.iAm}
  </h1>
</article>
