---
import Layout from "@layouts/Layout.astro";
import Input from "@components/shared/Input.astro";
import Label from "@components/shared/Label.astro";

interface Form {
  type: astroHTML.JSX.HTMLInputTypeAttribute | null | undefined;
  name: string;
  label: string;
  required: boolean;
}

const inputs: Form[] = [
  {
    type: "text",
    name: "name",
    label: "Nombre",
    required: true,
  },
  {
    type: "email",
    name: "email",
    label: "Correo electrónico",
    required: true,
  },
  {
    type: "tel",
    name: "phone",
    label: "Teléfono",
    required: false,
  },
];
---

<Layout>
  <section class="lg:pt-25 flex flex-col gap-5">
    <h1 class="text-primary text-center text-xl uppercase">Contacto</h1>
    <send-form>
      <form
        action=""
        class="w-95/100 md:max-w-65/100 lg:max-w-50/100 mx-auto flex flex-col gap-2"
      >
        {
          inputs.map(({ label, name, required, type }) => (
            <div class="relative flex flex-col gap-2">
              <Input type={type} name={name} id={name} />
              <Label label={label} for={name} required={required} absolute />
            </div>
          ))
        }

        <div class="flex flex-col gap-1">
          <Label
            label="Description"
            for="description"
            required={true}
            className="ml-2"
          />
          <textarea
            name="description"
            id="description"
            class:list={[
              "peer w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-300 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow h-30",
            ]}></textarea>
        </div>
        <div class="self-center">
          <button
            type="submit"
            class="mx-auto bg-primary text-white px-4 py-1 rounded-md hover:opacity-80 cursor-pointer"
            >Enviar</button
          >
        </div>
      </form>
    </send-form>
  </section>
</Layout>

<script src="@lib/actions/sendForm.ts"></script>
