---
import Layout from "@layouts/Layout.astro";

import { Icon } from "astro-icon/components";

import { getI18N } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const selectFormat = ["jpeg", "png", "jpg", "webp"];
const selectQuantity = ["95", "30", "40", "50", "60", "70", "80", "90"];
---

<Layout>
  <section class="flex flex-col gap-6 items-center section-images">
    <h1
      transition:name="convert-images"
      class="text-gray-800 dark:text-white text-center"
    >
      {i18n.PROJECTS.INTERNAL_PROJECTS[1].TITLE}
    </h1>

    <article class="flex flex-col gap-3">
      <div class="flex gap-2 items-center">
        <label
          for="select-format"
          class="text-gray-900 uppercase dark:text-white">format</label
        >
        <select
          id="select-format"
          class="border border-primary px-2 py-1 rounded-md text-primary cursor-pointer"
        >
          {selectFormat.map((sel) => <option value={sel}>{sel}</option>)}
        </select>
      </div>
      <div class="flex gap-2 items-center">
        <label
          for="select-quality"
          class="text-gray-900 uppercase dark:text-white">Quality</label
        >
        <select
          id="select-quality"
          class="border border-primary px-2 py-1 rounded-md text-primary cursor-pointer"
        >
          {selectQuantity.map((sel) => <option value={sel}>{sel} %</option>)}
        </select>
      </div>
    </article>

    <article class="w-2/3">
      <!-- File upload -->
      <div class="mt-4">
        <!-- File input -->
        <dial-download-drop-zone class="">
          <div
            class="flex flex-col items-center justify-center w-full gap-2"
            id="parent-drop-zone"
          >
            <label
              for="file-upload"
              class="flex flex-col items-center justify-center w-full h-52 border-2 border-dashed border-gray-300 rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-slate-700 drop-zone"
              id="drop-zone"
            >
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <Icon
                  name="upload"
                  class="text-2xl text-gray-700 dark:text-gray-300"
                />
                <p class="mb-2 text-sm text-gray-500">
                  <span class="font-semibold">Click aquí </span> o arrastra los archivos
                </p>
                <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF</p>
              </div>
              <input
                id="file-upload"
                name="imageFiles"
                type="file"
                accept="image/*"
                multiple
                class="hidden"
              />
            </label>
            <p class="my-2 text-sm text-gray-500" id="lbl-selected-files">
              0 archivos seleccionados
            </p>
          </div>
        </dial-download-drop-zone>
      </div>
    </article>
  </section>
</Layout>

<script src="@typescript/dial-download-drop-zone"></script>
