---
import Layout from "@layouts/Layout.astro";

import { Icon } from "astro-icon/components";

import { getI18N } from "@i18n/index";
import UploadImage from "@icons/UploadImage.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const selectFormat = ["jpeg", "png", "jpg", "webp"];
const selectQuantity = ["95", "30", "40", "50", "60", "70", "80", "90"];

const product = {
  title: "hola",
  slug: "hola",
  description: "hola",
  price: 4,
  stock: 3,
  tags: ["hola", "mundo"],
  type: "mundo",
  gender: "MEN",
};

const images = ["/hola"];
---

<Layout>
  <section class="flex flex-col gap-6 items-center section-images">
    <h1
      transition:name="convert-images"
      class="text-gray-800 dark:text-white text-center"
    >
      {i18n.PROJECTS.INTERNAL_PROJECTS[1].TITLE}
    </h1>

    <article class="flex flex-col gap-3">
      <div class="flex gap-2 items-center">
        <label
          for="select-format"
          class="text-gray-900 uppercase dark:text-white">format</label
        >
        <select
          id="select-format"
          class="border border-primary px-2 py-1 rounded-md text-primary cursor-pointer"
        >
          {selectFormat.map((sel) => <option value={sel}>{sel}</option>)}
        </select>
      </div>
      <div class="flex gap-2 items-center">
        <label
          for="select-quality"
          class="text-gray-900 uppercase dark:text-white">Quality</label
        >
        <select
          id="select-quality"
          class="border border-primary px-2 py-1 rounded-md text-primary cursor-pointer"
        >
          {selectQuantity.map((sel) => <option value={sel}>{sel} %</option>)}
        </select>
      </div>
    </article>

    <article class="container-components" id="card-image">
      <load-images>
        <div class="container-components__image" id="container-components">
          <div
            id="container-image"
            data-target="image"
            class="new-uploader flex flex-col gap-4 items-center border-2 border-gray-300 p-3 min-w-40 rounded-md shadow-lg shadow-gray-500/50 transition-all"
          >
            <UploadImage />

            <label
              class="px-1.5 py-1 block bg-primary rounded-md text-white cursor-pointer shadow-lg shadow-blue-500/50 hover:opacity-85 active:shadow-inset dark:shadow-green-500/50"
              data-sk-drawer="drawer-image"
              data-sk-target="image"
              id="label-image"
            >
              Upload image
            </label>
            <p
              class="px-1.5 py-1 bg-gray-700 rounded-md text-white"
              id="drag-and-drop-text"
            >
              Drag and drop
            </p>
            <p id="input-image" class="text-[10px] text-center"></p>
          </div>
          <input
            id="image"
            type="file"
            class="uploader-image hidden"
            name="image"
          />
        </div>
      </load-images>
    </article>
  </section>

  <section>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <!-- File upload -->
      <div class="mt-4">
        <!-- File input -->
        <dial-drop-zone class="" >
          <div
            class="flex items-center justify-center w-full"
            id="parent-drop-zone"
          >
            <label
              for="file-upload"
              class="flex flex-col items-center justify-center w-full h-52 border-2 border-dashed border-gray-300 rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-slate-700 drop-zone"
              id="drop-zone"
            >
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <Icon
                  name="upload"
                  class="text-2xl text-gray-700 dark:text-gray-300"
                />
                <p class="mb-2 text-sm text-gray-500" >
                  <span class="font-semibold">Click aquí </span> o arrastra los archivos
                </p>
                <p class="text-xs text-gray-500">
                  SVG, PNG, JPG or GIF (max. 800x400px)
                </p>
              </div>
              <input
                id="file-upload"
                name="imageFiles"
                type="file"
                accept="image/*"
                multiple
                class="hidden"
              />
            </label>
          </div>
          <p class="my-2 text-sm text-gray-500" id="lbl-selected-files">0 files selected</p>
        </dial-drop-zone>

        <table class="w-full border">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {
              images.map((image) => (
                <tr class="border">
                  <td class="flex justify-center">
                    <img
                      src={image}
                      alt={product.title}
                      class="w-16 h-16 rounded"
                    />
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn-delete-image">
                      X
                    </button>
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
       
      </div>
    </div>
  </section>
</Layout>

<script src="@typescript/load-images/upload.ts"></script>
<script src="@typescript/dial-drop-zone"></script>
