---
import { getI18N } from "@i18n/index";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";

const currentLocale = Astro.currentLocale;

const i18n = getI18N({ currentLocale });

const projects = await getCollection(
  `projects_${currentLocale}` as "projects_es"
);
---

<Layout>
  <section class="flex flex-col gap-15 w-80/100 mx-auto">
    <h1
      class="text-gray-800 uppercase text-center text-2xl dark:text-white"
      transition:animate="slide"
    >
      {i18n.PROJECTS.TITLE}
    </h1>

    <article
      class="grid gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
    >
      {
        projects.map(({ data, slug }) => (
          <Card
            title={data.title}
            image={data.images[0]}
            description={data.description}
            isExternalProject={true}
            href={data.href}
            styles={data.styles}
            technology={data.technology}
            scripts={data.scripts}
            slug={slug}
          />
        ))
      }
    </article>

    <article
      class="grid gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
    >
      {
        i18n.PROJECTS.INTERNAL_PROJECTS.map((project) => (
          <Card
            title={project.TITLE}
            image={project.IMAGE}
            description={project.DESCRIPTION}
            slug={project.SLUG}
            isExternalProject={false}
            href={project.HREF}
            styles=""
            technology=""
            scripts=""
          />
        ))
      }
    </article>
  </section>
</Layout>
