---
import { getI18N } from "@i18n/index";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";

const currentLocale = Astro.currentLocale;

const i18n = getI18N({ currentLocale });

const projects = await getCollection(
  `projects_${currentLocale}` as "projects_es"
);
---

<Layout>
  <section class="flex flex-col gap-15 w-80/100 mx-auto pt-10">
    <h1
      class="text-gray-800 uppercase text-center text-2xl dark:text-white"
      transition:animate="slide"
    >
      {i18n.projects.title}
    </h1>

    <article
      class="grid gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
    >
      {
        projects.map(({ data, slug }) => (
          <Card
            title={data.title}
            pngImage={data.pngImage}
            webpImage={data.webpImage}
            description={data.description}
            isExternalProject={true}
            href={data.href}
            styles={data.styles}
            technology={data.technology}
            scripts={data.scripts}
            slug={slug}
          />
        ))
      }
    </article>

    <article
      class="grid gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
    >
      {
        i18n.projects.internal_projects.map(
          ({ description, href, pngImage ,webpImage, slug, title }) => (
            <Card
              title={title}
              pngImage={pngImage}
              webpImage={webpImage}
              description={description}
              slug={slug}
              isExternalProject={false}
              href={href}
              styles=""
              technology=""
              scripts=""
            />
          )
        )
      }
    </article>
  </section>
</Layout>
