---
import { getI18N } from "../../../i18n";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../Card.astro";

const currentLocale = Astro.currentLocale;

const i18n = getI18N({ currentLocale });
---

<Layout>
  <h1 class="text-gray-800 uppercase text-center text-2xl dark:text-white" transition:animate="slide">{i18n.PROJECTS.TITLE}</h1>

  <section class="flex flex-col gap-10 p-10">
    <article class="grid m-w-[80dvw] gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-5">
      {
        i18n.PROJECTS.EXTERNAL_PROJECTS.map((project) => (
          <Card
            title={project.TITLE}
            image={project.IMAGE}
            description={project.DESCRIPTION}
            slug={project.SLUG}
            isExternalProject={true}
          />
        ))
      }
    </article>

    <article class="grid m-w-[80dvw] gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-5">
      {
        i18n.PROJECTS.INTERNAL_PROJECTS.map((project) => (
          <Card
            title={project.TITLE}
            image={project.IMAGE}
            description={project.DESCRIPTION}
            slug={project.SLUG}
            isExternalProject={false}
          />
        ))
      }
    </article>
  </section>
</Layout>

