---
import { ClientRouter } from "astro:transitions";

import Header from "../components/layout/Header.astro";
import "@styles/global.css";
import Footer from "@components/layout/Footer.astro";

interface Props {
  title: string;
  description: string;
  isNotFound?: boolean;
}

function createBreadcrumbs(route: string) {
  const cleanRoute = route.replace(/^\/+/, "");
  const pathName = Astro.url.pathname;

  const path = pathName.startsWith("/en") ? "/en/" : "/";

  const parts = cleanRoute.split("/");
  const breadcrumbs = parts.map((part, index) => {
    const href = `${path}${parts.slice(0, index + 1).join("/")}/`;
    return { name: part, href };
  });

  return breadcrumbs.length > 0
    ? [
        { name: "home", href: pathName.startsWith("/en") ? "/en/" : "/" },
        ...breadcrumbs,
      ].filter((route) => route.name !== "")
    : [];
}

const pathName = Astro.url.pathname;

const path = pathName.startsWith("/en")
  ? pathName.replace("/en", "")
  : pathName;

const breadcrumbs = createBreadcrumbs(path);

const { title, description, isNotFound = false } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://www.dialmonsalve.com" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_CO" />
    <meta
      property="og:site_name"
      content="Portfolio Diego Monsalve - dialmonsalve"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://www.dialmonsalve.com" />
    <meta
      property="og:image"
      content="https://www.dialmonsalve.com/og-image.jpg"
    />

    <meta property="og:image:alt" content="Descripción de la imagen OG" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://www.dialmonsalve.com/twitter-image.jpg"
    />

    <link rel="icon" href="/favicon.ico" sizes="32x32" />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <meta name="theme-color" content="#f0f0f0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <!-- <link rel="manifest" href="/manifest.json" /> -->

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      const setTheme = () => {
        const theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }
          return "light";
        })();

        if (theme === "light") {
          document.documentElement.classList.remove("dark");
        } else {
          document.documentElement.classList.add("dark");
        }

        window.localStorage.setItem("theme", theme || "light");
      };

      setTheme();

      document.addEventListener("astro:after-swap", setTheme);
    </script>
    <ClientRouter />
  </head>
  <body>
    <Header />

    <main
      id="main-scroll-container"
      class="max-h-screen h-screen overflow-auto relative pt-22 lg:pt-18 bg-radial from-white to-gray-400 dark:bg-gradient-to-tl dark:from-slate-700 dark:to-slate-900 scroll"
    >
      {
        !isNotFound && breadcrumbs.length > 0 && (
          <ul class="flex gap-1 pt-4 lg:pt-10 lg:pl-10">
            {breadcrumbs.map(({ href, name }) => (
              <li class="flex gap-1 items-center text-[12px]">
                {href !== Astro.url.pathname &&
                href !== `${Astro.url.pathname}/` ? (
                  <a
                    class="block py-0.5 px-2 bg-green-700 rounded-r-xl text-white text-[12px] md:text-sm"
                    href={href}
                  >
                    {name}
                  </a>
                ) : (
                  <span class="block py-0.5 px-2 bg-gray-400 rounded-r-xl text-gray-800  text-[12px] md:text-sm">
                    {name}
                  </span>
                )}
              </li>
            ))}
          </ul>
        )
      }
      <div class="pt-22 px-4 lg:pt-18 xl:px-10 pb-3 min-h-[71.9dvh] lg:min-h-[71dvh] xl:min-h-[67dvh]">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>
